@charset "UTF-8";



#dataiku-logo {
    background-image: url("@/commons/_shared/resources/images/dataiku-logo.svg");
    background-size: cover;
    width: 50px;
    height: 50px;
}   

#myApplication {
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}