:root {
    --dku-green-1: #36C9BF;
    --dku-green-2: #27A39C;
    --dku-green-3: #1D7671;
  }
  
  .green_1 {
      color: var(--dku-green-1)
  }
  
  .green_2 {
      color: var(--dku-green-2)
  }
  
  .green_3 {
      color: var(--dku-green-3)
  }
  .dashboard {
      /* height: 100%; */
      background-color: f7f7f7;
  }
  .title {
      background-color: f7f7f7;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      padding: 15px;
      align-items: center;
      
  }
  
  .logo {
      background-image: url("../../../../../fetch/commons/images/business_solutions/1.0/dku-business-solutions.png");
      background-size: 60px;
      background-repeat: no-repeat;
      width: 60px;
      height: 60px;
      text-shadow: white 0px 0px 2px;
      font-size: 16px;
  
  }
  
  
  .charts {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      width: 100%;
      height: auto;
      background-color: f7f7f7;
      font-family: 'SourceSansPro';
      font-weight: 500;
      justify-content: center;
      align-content: space-around;
      align-items: center;
      font-size: 16px;
  }
  
  .chart_area {
      min-height: 1px;
      float: left;
      padding: 10px;
      height: 500px;
      width: 500px;
  }
  
  .chart_container {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
  
  }
  
  .lines_chart_container {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
  }
  
  
  .chart_panel {
      width: 100%;
      height: 480px;
      display: inline-block;
      background: #fff;
      border: 1px solid #E6E9ED;
      border-radius: 10px;
      -webkit-column-break-inside: avoid;
      -moz-column-break-inside: avoid;
      column-break-inside: avoid;
      opacity: 1;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      -webkit-transition: all .2s ease;
      -ms-transition: all .2s ease;
      transition: all .2s ease;
  }
  
  .chart_title {
      padding: 16px;
  }
  
  .chart_title h2 {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 0;
  }
  
  
  .chart_container .chart_data {
      height: 100%;
      width: 100%;
      max-height: 400px;
  
  }
  
  
  .lines_chart_container .chart_data {
      height: 160px;
      width: 100%;
  }