@import 'fonts-variables.scss';
@import 'fonts-mixins.scss';

.font-weight-normal {
    font-weight: $font-weight-normal;
}

.font-weight-semi-bold {
    font-weight: $font-weight-semi-bold;
}

.font-weight-bold {
    font-weight: $font-weight-bold;
}

.dku-huge-title {
    @include mx-huge-title($font-weight-normal);
}

.dku-huge-title-sb {
    @include mx-huge-title($font-weight-semi-bold);
}

.dku-ultralarge-title {
    @include mx-ultralarge-title($font-weight-normal);
}

.dku-ultralarge-title-sb {
    @include mx-ultralarge-title($font-weight-semi-bold);
}

.dku-extralarge-title-sb {
    @include mx-extralarge-title($font-weight-semi-bold);
}

.dku-large-title {
    @include mx-large-title($font-weight-normal);
}

.dku-large-title-sb {
    @include mx-large-title($font-weight-semi-bold);
}

.dku-grand-title {
    @include mx-grand-title($font-weight-normal);
}

.dku-grand-title-sb {
    @include mx-grand-title($font-weight-semi-bold);
}

.dku-medium-title-sb {
    @include mx-medium-title($font-weight-semi-bold);
}

.dku-medium-title {
    @include mx-medium-title($font-weight-normal);
}

.dku-small-title-sb {
    @include mx-small-title($font-weight-semi-bold);
}

.dku-small-title {
    @include mx-small-title($font-weight-normal);
}

.dku-text {
    @include mx-text($font-weight-normal);
}

.dku-text-sb {
    @include mx-text($font-weight-semi-bold);
}

.dku-text-b {
    @include mx-text($font-weight-bold);
}

.dku-tiny-text {
    @include mx-tiny-text($font-weight-normal);
}

.dku-tiny-text-sb {
    @include mx-tiny-text($font-weight-semi-bold);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}
