@charset "UTF-8";



#bs-logo {
    background-image: url("./resources/background.png");
    background-size: cover;
    width: 100px;
    height: 100px;
}

#app {
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}