.tabs-container {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #fff;
  z-index: 10000;
  border-right: 1px solid #CAC5C5;
}

.tab-name-tooltip {
  font-size: .8rem;
}