.bs-select {
    
    word-break: break-all;
    
    &__popup {
        color: $bs-dark;
        .q-item {
            @include mx-text(400);
            &.q-item--active {
                background-color: $grey-background;
                color: #222222;
            }
            &.q-manual-focusable {
                transition : color 0.3s, background-color 0.3s;
                transition-timing-function: ease ease;
                &.q-manual-focusable--focused {
                    background-color: $digital-blue-base;
                    color: $white-base;
                    border-radius: 2px;
                }
            }
        }
    }
    
    &.q-field--outlined {
        .q-field__control {
            &:before, &:after {
                border: 1px solid #CCCCCC;
            }
            &:hover {
                &:before, &:after {
                    border: 1px solid #999999;
                }
            }
        }
        &.q-field--highlighted {
            .q-field__control:after {
                border: 1px solid $digital-blue-lighten-1;
            }
        }
    }

    &__label {
        display: block;
        color: $grey-base;
        font-family: 'SourceSansPro';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;

    }
    .q-field__native {
        color: #222222;
        @include mx-text(400);
    }
}

